:root {
  --white: #fcfcfc;
  --white-cream: #fafafa;
  --white-smoke: #f4f4f5;
  --gainsboro: #e4e4e7;
  --lightgray: #d1d1d6;
  --darkgray: #a0a0ab;
  --dimgray500: #70707b;
  --dimgray600: #51525c;
  --darkslategray: #3f3f46;
  --black: #26272b;
  --darkblack: #18181b;
  --h1: 104px;
  --h1-b: 104px;
  --h2: 64px;
  --h2-b: 64px;
  --h3: 52px;
  --h3-b: 52px;
  --h4: 48px;
  --h4-b: 48px;
  --h5: 40px;
  --h5-b: 40px;
  --h6: 32px;
  --h6-b: 32px;
  --h7: 24px;
  --h7-b: 24px;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-reg: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

/* header section starts  */
.header {
  color: var(--darkblack);
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 19px 80px;
  font-size: 14px;
}

.header a {
  padding: 4px 12px;
  text-decoration: none;
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
}

nav b {
  color: var(--darkblack);
  font-weight: var(--font-w-medium);
}

.header button {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-medium);
  background-color: var(--darkblack);
}
/* header section starts */

/* About section starts */
.about {
  padding: 80px;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.intro h2 {
  font-size: var(--h2-b);
  color: var(--darkblack);
  font-weight: var(--font-w-reg);
}

.intro p {
  font-size: 18px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
}

.pro-img img {
  width: 100%;
  height: 80%;
  border-radius: 12px;
  margin-bottom: 56px;
}

.client-rev {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.client-rev h2 {
  font-size: var(--h2-b);
  font-weight: var(--font-w-reg);
  color: var(--darkblack);
}

.rev {
  display: flex;
}

.rev i {
  height: 48px;
  width: 27px;
  font-size: var(--h5-b);
  font-weight: var(--font-w-reg);
  color: var(--darkgray);
}

.review p {
  font-size: 20px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
}

.description {
  display: flex;
  gap: 3.75%;
}

.description-text {
  width: 45%;
}

.description-text h3 {
  font-size: var(--h3-b);
  font-weight: var(--font-w-reg);
  color: var(--darkblack);
  margin-bottom: 24px;
}

.description-text p {
  font-size: 18px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
}

.description-img {
  width: 50%;
  border-radius: 12px;
}

.description-img img {
  width: 100%;
}
/* about section ends  */

/* bank section starts  */
.bank {
  padding: 80px;
}

.bank-wrapper h5 {
  font-size: var(--h6-b);
  font-weight: var(--font-w-reg);
  margin-bottom: 48px;
  text-align: center;
}

.client-heading h3 {
  font-size: var(--h3-b);
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

.client-heading p {
  font-size: 18px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray600);
  width: 39%;
}

.bank img {
  width: 13.5%;
  height: 75%;
}

.bank-img {
  gap: 2.5%;
  display: flex;
  justify-content: center;
}
/* bank section ends */

/* client section starts */
.client-review {
  padding: 80px;
}

.client-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.client-heading h3 {
  font-size: var(--h3-b);
  font-weight: var(--font-w-reg);
  color: var(--darkblack);
}

.client-heading p {
  font-size: 18px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray600);
}

.client-review hr {
  color: var(--white-smoke);
}

.client-des {
  padding: 56px 0;
  width: 50%;
}

.client-des i {
  /* width: 64px; */
  /* height: 64px; */
  /* width: 48px;
  height: 37px; */
  color: var(--darkblack);
  padding: 13.26px 8px;
  margin-bottom: 24px;
}

.client-des h4 {
  font-size: var(--h4-b);
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
  padding-bottom: 24px;
}

.des p {
  font-size: var(--h6);
  color: var(--dimgray600);
  font-weight: var(--font-w-reg);
  align-content: center;
}

.person p {
  font-size: 20px;
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
}

.slider {
  gap: 2%;
  display: flex;
}

.b-slider {
  background-color: var(--darkblack);
  border-radius: 4px;
  height: 8px;
  width: 75px;
}

.a-slider {
  background-color: var(--gainsboro);
  border-radius: 4px;
  height: 8px;
  width: 75px;
}

.client-des p {
  padding-bottom: 24px;
}

.client-quote {
  display: flex;
  justify-content: space-between;
  /* height: 580px; */
  width: 100%;
  gap: 6.8%;
  padding-top: 56px;
}

.client-quote img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
/* FAQ section starts */
.faq {
  padding: 80px 85px;
  display: flex;
}

.descrip {
  width: 42%;
  padding-right: 4.44%;
}
.faq h3 {
  color: var(--darkblack);
  font-weight: var(--font-w-reg);
  font-size: var(--h3);
  padding-bottom: 24px;
}

.descrip p {
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
  font-size: 20px;
  padding-bottom: 56px;
}

.faq img {
  width: 100%;
  border-radius: 12px 12px;
  padding-bottom: 31px;
}

.Ques {
  width: 53.6%;
  color: var(--dimgray500);
  font-weight: var(--font-w-medium);
  font-size: 18px;
}

.que {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.Q-A {
  background-color: #fafafa;
  border-radius: 12px;
}

.Q-A b {
  font-weight: var(--font-w-bold);
  font-size: 18px;
  color: var(--darkblack);
}

.ans p {
  color: var(--darkblack);
  font-weight: var(--font-w-reg);
  font-size: 18px;
  padding: 0 0 16px 16px;
}

.Q-A i {
  color: var(--darkblack);
}
/* FAQ section ends */

/* footer section starts  */
.contact-location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.footer {
  background-color: var(--darkblack);
  padding: 80px 56px 40px;
}

.footer h6 {
  font-size: 32px;
  font-weight: var(--font-w-reg);
  padding-bottom: 32px;
  color: var(--white);
}

.footer .agency-con {
  display: flex;
  gap: 24px;
}

.agency-con p {
  color: var(--dimgray500);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  padding-bottom: 12px;
}

.agency-con span {
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-reg);
}

.footer-nav p,
.footer-social p {
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  padding-bottom: 16px;
}

.footer-right {
  display: flex;
  gap: 24px;
  width: 28%;
}

.left-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 24px;
}

.nav-bar a {
  padding-bottom: 16px;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  text-decoration: none;
}

.footer-social ul {
  list-style-type: none;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  /* padding-bottom: 16px; */
}

.footer-social li {
  padding-bottom: 16px;
}

hr {
  color: var(--dimgray500);
  padding: 0 22%;
}

.foot {
  background-color: var(--darkblack);
  display: flex;
  justify-content: space-between;
  padding: 16px 56px 40px;
}

.foot p {
  font-size: 14px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
  width: 25%;
}

.foot a {
  text-decoration: none;
  color: var(--white);
}
/* footer section ends  */

/* media queries for tablet starts*/
@media only screen and (max-width: 768px) {
  /* header starts  */
  .header {
    width: 100%;
    align-items: center;
  }

  .header a {
    padding: 4px 4px;
  }
  /* header ends  */

  /* About section starts */
  .intro h2 {
    font-size: var(--h4-b);
    font-weight: var(--font-w-reg);
    width: 37.8%;
  }

  .intro p {
    font-size: 16px;
    color: var(--dimgray500);
    width: 44%;
  }

  .intro {
    display: flex;
    justify-content: space-between;
  }

  .client-rev {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .client-rev h2 {
    font-size: var(--h4-b);
  }

  .rev i {
    font-size: var(--h6-b);
  }

  .review-num {
    /* text-align: center; */
    align-items: center;
    /* justify-content: center; */
  }

  .description {
    display: block;
  }

  .description-text {
    width: 100%;
  }

  .description-text h3 {
    width: 100%;
    font-size: var(--h5-b);
    font-weight: var(--font-w-reg);
    margin-bottom: 24px;
  }

  .description-text p {
    font-size: 16px;
    font-weight: var(--font-w-reg);
    margin-bottom: 48px;
  }

  .description-img {
    width: 100%;
  }

  .description-img img {
    width: 100%;
    /* height: 30%; */
    border-radius: 12px;
  }
  /* about ends  */

  /* bank section starts  */
  .bank {
    padding: 40px 80px;
  }
  /* bank section ends  */

  /* client section starts */
  .client-heading {
    padding-bottom: 48px;
  }
  .client-heading h3 {
    font-size: var(--h5-b);
    font-weight: var(--font-w-reg);
    width: 32%;
  }

  .client-heading p {
    font-size: 16px;
    font-weight: var(--font-w-reg);
    width: 42%;
  }

  .client-des {
    padding: 48px 0;
    width: 39%;
    gap: 5%;
  }

  .client-des h4 {
    font-size: var(--h6-b);
    font-weight: var(--font-w-medium);
    padding-bottom: 24px;
  }

  .des p {
    font-size: 20px;
  }

  .client-img img {
    width: 100%;
  }
  /* client section ends  */

  /* FAQ section starts */
  .faq {
    padding: 80px;
    display: block;
  }

  .descrip {
    width: 100%;
  }

  .descrip h3 {
    font-size: var(--h5-b);
    padding-bottom: 24px;
  }

  .descrip p {
    font-size: 16px;
    padding-bottom: 56px;
  }

  .faq img {
    display: none;
  }

  .Ques {
    width: 100%;
  }
  /* FAQ section starts */

  /* footer starts  */
  .footer {
    padding: 80px 39px 40px;
  }

  .contact-location {
    gap: 18.36%;
  }

  .agency-con {
    display: inline;
  }

  .upper-contact {
    display: flex;
    gap: 24px;
    width: 100%;
    padding-bottom: 24px;
  }

  .phn {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }

  .foot {
    margin: 40px 17px 0px;
  }

  .footer-right {
    width: 31.8%;
  }

  .footer-nav {
    width: 71.16%;
  }

  .left-nav {
    gap: 24px;
  }
}
/* media queries for tablet ends*/

/* media queries for mobile ends*/
@media only screen and (max-width: 376.99px) {
  /* header starts  */
  .header {
    width: 100%;
    padding: 19px 20px;
    align-items: center;
  }

  .logo,
  .ham {
    display: flex;
    justify-content: space-between;
  }

  nav,
  .contact-btn {
    display: none;
  }

  .ham a {
    font-size: 32px;
    padding: 9px 5px;
  }
  /* header ends  */

  /* About section starts */
  .about {
    padding: 60px 20px;
  }

  .intro {
    display: block;
    /* gap:  */
    justify-content: space-between;
  }

  .intro h2 {
    font-size: var(--h5-b);
    font-weight: var(--font-w-reg);
    width: 100%;
    padding-bottom: 24px;
  }

  .intro p {
    font-size: 16px;
    color: var(--dimgray500);
    font-weight: var(--font-w-reg);
    width: 41%;
  }

  .client-rev {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  .description-text h3 {
    width: 100%;
    font-size: var(--h6-b);
    font-weight: var(--font-w-reg);
    margin-bottom: 24px;
  }
  /* About section ends */

  /* bank section starts  */
  .bank-wrapper h5 {
    font-size: var(--h6-b);
    font-weight: var(--font-w-reg);
    margin-bottom: 48px;
  }

  .bank-img img {
    width: 29.33%;
    display: grid;
  }
  /* bank section ends */

  /* client-review section starts */
  .client-review {
    padding: 60px 20px;
  }

  .client-heading {
    display: block;
  }

  .client-heading h3 {
    font-size: var(--h6-b);
    font-weight: var(--font-w-reg);
    width: 100%;
  }

  .client-heading p {
    font-size: 16px;
    font-weight: var(--font-w-reg);
    width: 100%;
  }

  .client-quote {
    display: block;
    padding-top: 0;
  }

  .client-des {
    width: 100%;
    padding-bottom: 56px;
  }

  .client-des h4 {
    font-size: var(--h6-b);
    font-weight: var(--font-w-medium);
    padding-bottom: 24px;
  }

  .client-des p {
    font-size: 18px;
    font-weight: var(--font-w-reg);
  }

  .person {
    font-size: 16px;
    font-weight: var(--font-w-medium);
  }

  .client-img img {
    width: 100%;
  }
  /* client-review section ends */

  /* FAQ section starts */
  .faq {
    padding: 60px 20px;
    display: block;
  }
  /* FAQ section ends */

  /* for footer  */
  .contact-location {
    display: block;
    padding-bottom: 40px;
  }

  .footer-left {
    width: 100%;
    padding-bottom: 24px;
  }

  .footer-right {
    display: block;
    width: 100%;
  }

  .footer-social {
    padding-top: 24px;
  }

  .footer-social ul {
    /* display: inline; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  .foot {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 16px 0;
    width: 100%;
    margin: 16px 17px 0px;
  }

  .foot img,
  a {
    justify-content: center;
  }

  .foot p {
    padding: 24px 0;
    display: block;
    justify-content: center;
    width: 100%;
  }
}
