:root {
  --white: #fcfcfc;
  --white-cream: #fafafa;
  --white-smoke: #f4f4f5;
  --gainsboro: #e4e4e7;
  --lightgray: #d1d1d6;
  --darkgray: #a0a0ab;
  --dimgray500: #70707b;
  --dimgray600: #51525c;
  --darkslategray: #3f3f46;
  --black: #26272b;
  --darkblack: #18181b;
  --h1: 104px;
  --h1-b: 104px;
  --h2: 64px;
  --h2-b: 64px;
  --h3: 52px;
  --h3-b: 52px;
  --h4: 48px;
  --h4-b: 48px;
  --h5: 40px;
  --h5-b: 40px;
  --h6: 32px;
  --h6-b: 32px;
  --h7: 24px;
  --h7-b: 24px;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-reg: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

/* header section starts  */
.header {
  color: var(--darkblack);
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 19px 80px;
  font-size: 14px;
}

.header a {
  padding: 4px 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
}

nav b {
  color: var(--darkblack);
  font-weight: var(--font-w-medium);
}

.header button {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-medium);
  background-color: var(--darkblack);
}
/* header section ends */

/* main section starts */
.main {
  margin: 80px;
}

.intro h3 {
  font-size: var(--h3-b);
  color: var(--darkblack);
  padding-bottom: 24px;
}

.intro p {
  font-size: 18px;
  color: var(--dimgray500);
}

.intro {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  /* position: relative; */
}

.search {
  padding-top: 24px;
  /* position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.search-bar {
  width: 100%;
  border: 2px solid var(--gainsboro);
  border-radius: 12px;
  padding: 12px 0px;

  /* justify-content: center; */
  text-align: left;
  /* padding-bottom: 40px; */
}

.search-bar i {
  height: 24px;
  width: 24px;
  color: var(--dimgray500);
  padding-left: 12px;
}

.search-bar p {
  font-size: 16px;
  color: var(--dimgray500);
}

.search-op {
  padding-top: 16px;
}

.search-op p {
  font-size: 14px;
  color: var(--darkgray);
}

.search-op button {
  border: none;
  border-radius: 4px;
  color: var(--dimgray500);
  font-size: 12px;
  background-color: var(--white-smoke);
  margin-right: 8px;
  padding: 4px 8px;
}
/* intro section ends  */

/* FAQ section starts  */
.FAQ-section {
  margin-top: 56px;
  display: flex;
}

.catagory {
  width: 20%;
}

.catagory p {
  font-size: 20px;
  color: var(--darkblack);
  padding-bottom: 24px;
}

.catagory ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.catagory li {
  padding: 8px 0;

  /* border-bottom: ; */
}

.Ques {
  width: 76%;
  margin-left: 56px;
}

.que {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.que i {
  padding: 16px 20px;
  height: 24px;
  width: 24px;
  color: var(--dimgray500);
}

.Ques p {
  font-size: 18px;
  color: var(--dimgray500);
  padding: 16px;
}

.que-bold {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.que-bold i {
  padding: ;
}
.Q-A i,
b {
  color: var(--darkblack);
}

.Q-A {
  margin: 16px 0 16px 16px;
  background-color: #fafafa;
  border-radius: 12px;
}
/* main section ends */

/* mail section starts */
.mail-wrapper {
  padding: 40px 16px;
  position: relative;
}

.mail img {
  border-radius: 36px;
  width: 100%;
  height: 100vh;
  /* margin: 80px 51px; */
}

.Contact-intro {
  text-align: center;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.con-intro {
  width: 100%;
  padding-bottom: 40px;
}

.con-intro h2 {
  font-size: var(--h2-b);
  font-weight: var(--font-w-medium);
  color: #ffffff;
  padding-bottom: 24px;
}

.con-intro p {
  font-size: 20px;
  font-weight: var(--font-w-reg);
  color: #ffffff;
}

.btn {
  position: relative;
}

.btn input {
  padding: 8px 8px 8px 16px;
  border-radius: 12px;
  /* box-shadow: none; */
  width: 504px;
  height: 58px;
  /* width: 36%; */
}

.btn button {
  padding: 10px 23px;
  background-color: var(--darkblack);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: var(--font-w-bold);
  color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}
/* mail section ends  */

/* footer section starts  */
.contact-location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.footer {
  background-color: var(--darkblack);
  padding: 80px 56px 40px;
}

.footer h6 {
  font-size: 32px;
  font-weight: var(--font-w-reg);
  padding-bottom: 32px;
  color: var(--white);
}

.agency-con {
  display: flex;
  gap: 24px;
}

.agency-con p {
  color: var(--dimgray500);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  padding-bottom: 12px;
}

.agency-con span {
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-reg);
}

.footer-nav p,
.footer-social p {
  color: var(--dimgray500);
  font-size: 16px;
  font-weight: var(--font-w-reg);
  padding-bottom: 16px;
}

.footer-right {
  display: flex;
  gap: 24px;
  width: 28%;
}

.left-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 24px;
}

.nav-bar a {
  padding-bottom: 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-reg);
  text-decoration: none;
}

.footer-social ul {
  list-style-type: none;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  /* padding-bottom: 16px; */
}

.footer-social li {
  padding-bottom: 16px;
}

hr {
  color: var(--dimgray500);
  padding: 0 22%;
}

.foot {
  background-color: var(--darkblack);
  display: flex;
  justify-content: space-between;
  padding: 16px 56px 40px;
}

.foot p {
  font-size: 14px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
  width: 25%;
}

.foot a {
  text-decoration: none;
  color: var(--white);
}

/* media queries for tablet starts*/
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    align-items: center;
  }

  .header a {
    padding: 4px 4px;
  }

  /* mail section starts */
  .con-intro {
    width: 60%;
  }

  .con-intro h2 {
    font-size: var(--h6-b);
    font-weight: var(--font-w-medium);
  }

  .con-intro p {
    font-size: 14px;
  }

  .btn input {
    width: 303px;
  }
  /* contact section ends  */

  /* for footer  */
  .footer {
    padding: 80px 39px 40px;
  }

  .contact-location {
    gap: 18.36%;
  }

  .agency-con {
    display: inline;
  }

  .upper-contact {
    display: flex;
    gap: 24px;
    width: 100%;
    padding-bottom: 24px;
  }

  .phn {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }

  .foot {
    margin: 40px 17px 0px;
  }

  .footer-right {
    width: 31.8%;
  }

  .footer-nav {
    width: 71.16%;
  }

  .left-nav {
    gap: 24px;
  }
}
/* media queries for tablet ends*/

/* media queries for mobile ends*/
@media only screen and (max-width: 376.99px) {
  /* header starts  */
  .header {
    width: 100%;
    padding: 19px 20px;
    align-items: center;
  }

  .logo,
  .ham {
    display: flex;
    justify-content: space-between;
  }

  nav,
  .contact-btn {
    display: none;
  }

  .ham a {
    font-size: 32px;
    padding: 9px 5px;
  }
  /* header ends  */

  /* for footer  */
  .contact-location {
    display: block;
    padding-bottom: 40px;
  }

  .footer-left {
    width: 100%;
    padding-bottom: 24px;
  }

  .footer-right {
    display: block;
    width: 100%;
  }

  .footer-social {
    padding-top: 24px;
  }

  .footer-social ul {
    /* display: inline; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  .foot {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 16px 0;
    width: 100%;
    margin: 16px 17px 0px;
  }

  .foot img,
  a {
    justify-content: center;
  }

  .foot p {
    padding: 24px 0;
    display: block;
    justify-content: center;
    width: 100%;
  }
}
