:root {
  --white: #fcfcfc;
  --white-cream: #fafafa;
  --white-smoke: #f4f4f5;
  --gainsboro: #e4e4e7;
  --lightgray: #d1d1d6;
  --darkgray: #a0a0ab;
  --dimgray500: #70707b;
  --dimgray600: #51525c;
  --darkslategray: #3f3f46;
  --black: #26272b;
  --darkblack: #18181b;
  --h1: 104px;
  --h1-b: 104px;
  --h2: 64px;
  --h2-b: 64px;
  --h3: 52px;
  --h3-b: 52px;
  --h4: 48px;
  --h4-b: 48px;
  --h5: 40px;
  --h5-b: 40px;
  --h6: 32px;
  --h6-b: 32px;
  --h7: 24px;
  --h7-b: 24px;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-reg: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

/* header section starts  */
.header {
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 19px 80px;
  font-size: 14px;
}

.header a {
  padding: 4px 12px;
  text-decoration: none;
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
}

nav b {
  color: var(--darkblack);
  font-weight: var(--font-w-medium);
}

.header button {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-medium);
  background-color: var(--darkblack);
}
/* header section ends */

/* listing section starts */
.listing {
  padding: 80px;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.intro h2 {
  font-size: var(--h2-b);
  font-weight: var(--font-w-reg);
  color: var(--darkblack);
}

.intro p {
  font-size: 18px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
  width: 40.62%;
}

.search-bar {
  width: 100%;
  border: 2px solid var(--gainsboro);
  border-radius: 12px;
  /* padding: 16px 0px; */
  /* padding-bottom: 40px; */
}

.search-bar i {
  height: 24px;
  width: 24px;
  color: var(--dimgray500);
  padding-left: 12px;
}

.search-bar p {
  font-size: 16px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
  /* padding: 16px 0px 16px 12px; */
}

.main-content {
  padding-top: 40px;
  display: flex;
}

.side-bar {
  width: 29%;
  margin-right: 40px;
}

.button-group {
  padding: 12px;
  border: 2px solid var(--gainsboro);
  border-radius: 12px;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}

.sell p {
  background-color: var(--darkblack);
  color: var(--white);
  font-weight: var(--font-w-medium);
  border-radius: 12px;
  font-size: 16px;
  width: 50%;
  padding: 10px 75px;
  /* justify-content: center; */
}

.rent p {
  background-color: var(--white);
  color: var(--darkblack);
  border: none;
  font-weight: var(--font-w-medium);
  font-size: 16px;
  width: 50%;
  padding: 10px 71px;
}

.catagory p {
  font-size: 20px;
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
  padding: 24px 0 16px;
}

.catagory label {
  font-size: 20px;
  font-weight: var(--font-w-reg);
  color: var(--darkblack);
  cursor: pointer;
  /* white-space: nowrap; */
  /* display: flex; */
}

.location p {
  font-size: 20px;
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
  padding: 24px 0 16px;
}

.location label {
  list-style: none;
  padding-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: var(--font-w-reg);
  color: var(--darkblack);
}

.location input {
  padding-bottom: 12px;
}

.range label {
  font-size: 20px;
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
  padding: 24px 0 16px;
}

.range input {
  width: 80%;
}

.value label {
  color: var(--dimgray500);
}

.value {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
/* side bar section ends */

/* property part starts  */
.Property-card img {
  width: 100%;
  padding-bottom: 16px;
}

.asri,
.riverfront,
.loft,
.beachfront,
.cabin,
.lakeview {
  position: relative;
}

.badge {
  display: flex;
  gap: 1.94%;
  justify-content: end;
  position: absolute;
  top: 4.72%;
  right: 3.89%;
  width: 100%;
}

.badge p {
  background-color: var(--darkblack);
  color: var(--white);
  font-weight: var(--font-w-medium);
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 22px;
}

.image-des {
  padding-bottom: 56px;
}

.Property-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 24px;
  width: 100%;
}

.location h6 {
  font-size: 24px;
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
  padding-bottom: 5px;
}

.address {
  display: flex;
}

.address p {
  font-size: 14px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
}

.location i {
  width: 20px;
  height: 20px;
  color: var(--darkblack);
}

.price b,
i {
  font-size: 20px;
  font-weight: var(--font-w-bold);
  color: var(--darkblack);
}

.price p {
  padding-top: 4px;
  font-size: 14px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
}

.Property {
  position: relative;
}

.Property hr {
  color: var(--gainsboro);
}

.pro-detail {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 16px;
}

.accomodation {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.accomodation i {
  width: 20px;
  height: 19px;
  color: var(--dimgray500);
}

.Property span {
  font-size: 16px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
  /* border-right: 2px solid #e4e4e7; */
}

.Property button {
  padding: 10px 22.5px;
  color: var(--white);
  background-color: var(--darkblack);
  border-radius: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  border-radius: none;
}
/* listing section ends */

/* Contact section starts */
.contact {
  padding: 40px 16px;
  position: relative;
}

.commnication img {
  width: 100%;
  border-radius: 36px;
}

.help {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.help-head {
  width: 100%;
}

.help-head h2 {
  font-size: var(--h2-b);
  font-weight: var(--font-w-medium);
  color: var(--white);
  padding-bottom: 24px;
}

.help-head p {
  font-size: 20px;
  font-weight: var(--font-w-reg);
  color: var(--white);
}

.contact form {
  background-color: var(--white);
  padding: 24px;
  height: auto;
  width: 100%;
  border-radius: 24px;
}

form span {
  display: flex;
}

form label,
input {
  display: flex;
}

form label,
input,
p {
  display: block;
  /* width: 100%; */
  padding: 16px 0 16px;
}

form input {
  border: none;
}

form p {
  padding-top: 10px;
  background-color: var(--darkblack);
  font-size: 16px;
  font-weight: var(--font-w-medium);
  color: var(--white);
  text-align: center;
}

textarea {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
  padding: 12px 14px;
}

/* contact section ends  */

/* footer starts  */
.contact-location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer {
  background-color: var(--darkblack);
  padding: 80px 56px;
}

.footer h6 {
  font-size: 32px;
  font-weight: var(--font-w-reg);
  padding-bottom: 32px;
  color: var(--white);
}

.agency-con {
  display: flex;
  gap: 24px;
}

/* .footer-left {
  width: 49%;
} */

.agency-con p {
  color: var(--dimgray500);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  padding-bottom: 12px;
}

.agency-con span {
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-reg);
}

.footer-nav p,
.footer-social p {
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  padding-bottom: 16px;
}

.footer-right {
  /* width: 28%; */
  display: flex;
  gap: 24px;
}

.left-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 24px;
}

.nav-bar a {
  padding-bottom: 16px;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  text-decoration: none;
}

.footer-social ul {
  list-style-type: none;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  /* padding-bottom: 16px; */
}

.footer-social li {
  padding-bottom: 16px;
}

hr {
  color: var(--dimgray500);
  width: 100%;
}

.foot {
  background-color: var(--darkblack);
  display: flex;
  justify-content: space-between;
  margin: 16px 56px 0px;
}

.foot p {
  font-size: 14px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
  width: 25%;
}

.foot a {
  text-decoration: none;
  color: var(--white);
}

/* media queries for tablet starts*/
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    align-items: center;
  }

  .header a {
    padding: 4px 4px;
  }
  /* header section ends */
  .intro h2 {
    font-size: var(--h5-b);
    font-weight: var(--font-w-medium);
    width: 31.8%;
  }

  .intro p {
    font-size: 16px;
    width: 40.62%;
  }

  .side-bar {
    display: none;
  }

  /* listing section starts */

  /* Contact section starts */
  .help-head {
    width: 62%;
  }

  .help-head h2 {
    font-size: var(--h4-b);
    font-weight: var(--font-w-medium);
    padding-bottom: 24px;
  }

  .help-head p {
    font-size: 16px;
    font-weight: var(--font-w-reg);
  }

  .form {
    width: 51%;
    height: 66%;
  }

  /* footer starts  */
  .footer {
    padding: 80px 39px 40px;
  }

  .contact-location {
    gap: 18.36%;
  }

  .agency-con {
    display: inline;
  }

  .upper-contact {
    display: flex;
    gap: 24px;
    width: 100%;
    padding-bottom: 24px;
  }

  .phn {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }

  .foot {
    margin: 40px 17px 0px;
  }

  .footer-right {
    width: 31.8%;
  }

  .footer-nav {
    width: 71.16%;
  }

  .left-nav {
    gap: 24px;
  }
}
/* media queries for tablet ends*/

/* media queries for mobile ends*/
@media only screen and (max-width: 376.99px) {
  /* header starts  */
  .header {
    width: 100%;
    padding: 19px 20px;
    align-items: center;
  }

  .logo,
  .ham {
    display: flex;
    justify-content: space-between;
  }

  nav,
  .contact-btn {
    display: none;
  }

  .ham a {
    font-size: 32px;
    padding: 9px 5px;
  }
  /* header ends  */

  /* for footer  */
  .contact-location {
    display: block;
    padding-bottom: 40px;
  }

  .footer-left {
    width: 100%;
    padding-bottom: 24px;
  }

  .footer-right {
    display: block;
    width: 100%;
  }

  .footer-social {
    padding-top: 24px;
  }

  .footer-social ul {
    /* display: inline; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  .foot {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 16px 0;
    width: 100%;
    margin: 16px 17px 0px;
  }

  .foot img,
  a {
    justify-content: center;
  }

  .foot p {
    padding: 24px 0;
    display: block;
    justify-content: center;
    width: 100%;
  }
}
