:root {
  --white: #fcfcfc;
  --white-cream: #fafafa;
  --white-smoke: #f4f4f5;
  --gainsboro: #e4e4e7;
  --lightgray: #d1d1d6;
  --darkgray: #a0a0ab;
  --dimgray500: #70707b;
  --dimgray600: #51525c;
  --darkslategray: #3f3f46;
  --black: #26272b;
  --darkblack: #18181b;
  --h1: 104px;
  --h1-b: 104px;
  --h2: 64px;
  --h2-b: 64px;
  --h3: 52px;
  --h3-b: 52px;
  --h4: 48px;
  --h4-b: 48px;
  --h5: 40px;
  --h5-b: 40px;
  --h6: 32px;
  --h6-b: 32px;
  --h7: 24px;
  --h7-b: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

/* header section starts  */
.header {
  color: var(--darkblack);
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 19px 80px;
  font-size: 14px;
}

.header a {
  padding: 4px 12px;
  text-decoration: none;
  color: var(--darkblack);
}

.header button {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
}
/* header section starts */

/* listing section starts */
.listing {
  padding: 80px;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.intro h2 {
  font-size: 52px;
  color: var(--darkblack);
}

.intro p {
  font-size: 18px;
  color: var(--dimgray500);
}

.search-bar {
  width: 100%;
  border: 2px solid var(--gainsboro);
  border-radius: 12px;
  padding: 16px 0px;
  /* padding-bottom: 40px; */
}

.search-bar i {
  height: 24px;
  width: 24px;
  color: var(--dimgray500);
  padding-left: 12px;
}

.search-bar p {
  font-size: 16px;
  color: var(--dimgray500);
  /* padding: 16px 0px 16px 12px; */
}

.main-content {
  padding-top: 40px;
  display: flex;
}

.side-bar {
  width: 29%;
  margin-right: 40px;
}

.button-group {
  padding: 12px;
  border: 2px solid var(--gainsboro);
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sell p {
  background-color: var(--darkblack);
  color: var(--white);
  border-radius: 12px;
  font-size: 16px;
  width: 50%;
  padding: 10px 75px;
  /* justify-content: center; */
}

.rent p {
  background-color: var(--white);
  border: none;
  /* border-radius: 12px; */
  font-size: 16px;
  width: 50%;
}

.catagory p {
  font-size: 20px;
  color: var(--darkblack);
  padding: 24px 0 16px;
}

.catagory label {
  list-style: none;
  padding-bottom: 12px;
  cursor: pointer;
}

.catagory input {
  padding-bottom: 12px;
}

.location p {
  font-size: 20px;
  color: var(--darkblack);
  padding: 24px 0 16px;
}

.location label {
  list-style: none;
  padding-bottom: 12px;
  cursor: pointer;
}

.location input {
  padding-bottom: 12px;
}
/* side bar section ends */

/* property part starts  */
/* .asri {
  width: 32.1%;
} */

.Property-card img {
  /* width: 425px; */
  width: 100%;
  /* 100% dba    */
  padding-bottom: 16px;
}

.main-content .image-des {
  padding-bottom: 56px;
}

.Property-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 24px;
  width: 100%;
}

.location h6 {
  font-size: 24px;
  color: var(--darkblack);
  padding-bottom: 5px;
}

.address {
  display: flex;
}

.location i {
  width: 20px;
  height: 20px;
  color: var(--darkblack);
}

.location span {
  font-size: 14px;
  color: var(--dimgray500);
}

.Property .price i {
  font-size: 15px;
  color: var(--darkblack);
}

.price p {
  font-size: 14px;
  color: var(--dimgray500);
}

.Property hr {
  color: var(--gainsboro);
}

.pro-detail {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 16px;
}

.accomodation {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.accomodation i {
  width: 20px;
  height: 19px;
  color: var(--dimgray500);
}

.Property span {
  font-size: 16px;
  color: var(--dimgray500);
  /* border-right: 2px solid #e4e4e7; */
}

.Property button {
  padding: 10px 22.5px;
  color: var(--white);
  background-color: var(--darkblack);
  border-radius: 12px;
  /* justify-content: center; */
  margin-top: 40px;
  border-radius: none;
}
/* listing section ends */

/* footer starts  */
.contact-location {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: var(--darkblack);
  padding: 80px 56px;
}

.footer h6 {
  font-size: 32px;
  padding-bottom: 32px;
  color: var(--white);
}

.agency-con {
  display: flex;
  gap: 24px;
}

.footer-left {
  width: 49%;
}

.agency-con p {
  color: var(--dimgray500);
  font-size: 14px;
  padding-bottom: 12px;
}

.agency-con span {
  color: var(--white);
  font-size: 16px;
}

.footer-nav p,
.footer-social p {
  color: var(--dimgray500);
  font-size: 16px;
  padding-bottom: 16px;
}

.footer-right {
  width: 28%;
  display: flex;
  gap: 24px;
}

.left-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 24px;
}

.nav-bar a {
  padding-bottom: 16px;
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
}

.footer-social ul {
  list-style-type: none;
  color: var(--white);
  font-size: 16px;
  /* padding-bottom: 16px; */
}

.footer-social li {
  padding-bottom: 16px;
}

hr {
  color: var(--dimgray500);
  width: 88%;
}

.foot {
  background-color: var(--darkblack);
  display: flex;
  justify-content: space-between;
  padding: 16px 56px 40px;
}

.foot p {
  font-size: 14px;
  color: var(--dimgray500);
}
