:root {
  --white: #fcfcfc;
  --white-cream: #fafafa;
  --white-smoke: #f4f4f5;
  --gainsboro: #e4e4e7;
  --lightgray: #d1d1d6;
  --darkgray: #a0a0ab;
  --dimgray500: #70707b;
  --dimgray600: #51525c;
  --darkslategray: #3f3f46;
  --black: #26272b;
  --darkblack: #18181b;
  --h1: 104px;
  --h1-b: 104px;
  --h2: 64px;
  --h2-b: 64px;
  --h3: 52px;
  --h3-b: 52px;
  --h4: 48px;
  --h4-b: 48px;
  --h5: 40px;
  --h5-b: 40px;
  --h6: 32px;
  --h6-b: 32px;
  --h7: 24px;
  --h7-b: 24px;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-reg: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;

  /* font-style: ; */
}

/* hero section starts */
.hero-image img {
  width: 100%;
  height: 150vh;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 19px 80px;
  color: var(--white);
  font-size: 14px;
  font-weight: var(--font-w-reg);
}

.header a {
  padding: 4px 12px;
  text-decoration: none;
  color: var(--white);
}

.header button {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
}

.hero-headline {
  position: absolute;
  bottom: -36.25%;
  left: 78px;
}

.hero-headline h1 {
  color: var(--white);
  font-size: var(--h1);
  font-weight: var(--font-w-bold);
  /* position: absolute;
  bottom: -36.25%;
  left: 78px; */
}

.arrow {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid var(--white-smoke);
  padding: 24px;
}

.arrow i {
  height: 32px;
  color: var(--white);
}

.hero-img-preview {
  width: 13.61%;
  background: blur;
  position: absolute;
  right: 60px;
  top: 508px;
  background-color: #ffffff10;
  backdrop-filter: blur(15px);
  border-radius: 12px;
}

.hero-img-preview img {
  height: 140px;
  width: 196px;
  border: none;
  /* align-content: center; */
  justify-content: center;
  padding: 8px 12px;
}
/* hero section ends */

/* About section starts */
.about {
  margin: 80px;
  padding-bottom: 86px;
}

.about h3 {
  color: var(--darkblack);
  font-size: var(--h3);
  font-weight: var(--font-w-reg);
  padding-bottom: 32px;
}

.about button {
  padding: 10px 22.5px;
  color: #ffffff;
  background-color: var(--darkblack);
  font-weight: var(--font-w-medium);
  border-radius: 12px;
}

.about .text-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8.68%;
}

.about p {
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
  font-size: 20px;
}

.image-area {
  margin: 56px 0 80px;
  gap: 2.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.img1 {
  height: 64%;
  width: 24.68%;
  border-radius: 12px;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.img2 {
  height: 72%;
  width: 31.4%;
  border-radius: 12px;
  position: absolute;
  top: 26%;
  left: 27.5%;
}

.img3 {
  height: 81.6%;
  width: 38.9%;
  border-radius: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.image-area h6 {
  font-size: 24px;
  color: var(--darkblack);
  font-weight: var(--font-w-reg);
}

.image-area p {
  font-size: 16px;
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
}
/* About section starts */

/* PLS section starts */
.PLS {
  margin: 80px 85px;
  /* padding: 80px 85px; */
  /* align-content: center; */
}

.PLS h3 {
  color: var(--darkblack);
  font-size: var(--h3);
  font-weight: var(--font-w-reg);
  width: 35.85%;
}

.PLS p {
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
  font-size: 20px;
}

.PLS .des {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  width: 100%;
  gap: 19.3%;
}

.PLS img {
  width: 100%;
  padding-bottom: 16px;
}

.asri,
.riverfront,
.cottage,
.loft,
.beachfront,
.downtown,
.cabin,
.lakeview,
.urban {
  position: relative;
}

.badge {
  display: flex;
  gap: 1.94%;
  justify-content: end;
  position: absolute;
  top: 4.72%;
  right: 3.89%;
  width: 100%;
}

.badge p {
  background-color: var(--darkblack);
  color: var(--white);
  font-weight: var(--font-w-medium);
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 22px;
}

.image-des {
  padding-bottom: 56px;
}

.properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 24px;
}

.properties h6 {
  font-size: var(--h7-b);
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
}

.address {
  display: flex;
}

.location i {
  width: 24px;
  height: 24px;
  color: var(--darkblack);
}

.location p {
  font-size: 14px;
  color: var(--dimgray500);
  font-weight: var(--font-w-medium);
}

.price i {
  font-size: 15px;
  color: var(--darkblack);
}

.price p {
  font-size: 14px;
  font-weight: var(--font-w-bold);
  color: var(--dimgray500);
}

.properties hr {
  color: var(--gainsboro);
}

.pro-detail {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 16px;
}

.accomodation {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.accomodation i {
  width: 20px;
  height: 19px;
  color: var(--dimgray500);
}

.properties span {
  font-size: 16px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
  /* border-right: 2px solid #e4e4e7; */
}

.PLS button {
  padding: 10px 22.5px;
  color: #ffffff;
  background-color: var(--darkblack);
  font-weight: var(--font-w-medium);
  border-radius: 12px;
  /* display: grid; */
  justify-content: center;
  align-content: center;
}
/* PLS section ends */

/* FAQ section starts */
.FAQ {
  padding: 80px 85px;
  display: flex;
}

.descrip {
  width: 42%;
  padding-right: 4.44%;
}
.FAQ h3 {
  color: var(--darkblack);
  font-size: var(--h3);
  font-weight: var(--font-w-reg);
  padding-bottom: 24px;
}

.descrip p {
  color: var(--dimgray500);
  font-size: 20px;
  font-weight: var(--font-w-reg);
  padding-bottom: 56px;
}

.FAQ img {
  width: 100%;
  border-radius: 12px 12px;
  padding-bottom: 31px;
}

.Ques {
  width: 53.6%;
}

.que {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.Ques {
  color: var(--dimgray500);
  font-size: 18px;
  font-weight: var(--font-w-medium);
}

.Q-A {
  background-color: #fafafa;
  border-radius: 12px;
}

.Q-A b {
  color: var(--darkblack);
  font-size: 18px;
  font-weight: var(--font-w-bold);
}

.ans p {
  color: var(--darkblack);
  font-size: 16px;
  font-weight: var(--font-w-reg);
}

.Q-A p {
  color: var(--darkblack);
  font-size: 18px;
}

.Q-A i {
  color: var(--darkblack);
}
/* FAQ section ends */

/* Blog section starts */
.Blog {
  padding: 80px 85px;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  width: 100%;
  gap: 13.13%;
}

.Blog h3 {
  color: var(--darkblack);
  font-size: var(--h3);
  font-weight: var(--font-w-reg);
  padding-bottom: 24px;
}

.intro p {
  font-size: 18px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
}

.detail {
  display: flex;
  justify-content: space-between;
}

.real {
  width: 32%;
  gap: 2%;
}

.Blog img {
  width: 100%;
  padding-bottom: 16px;
  border-radius: 12px 12px;
}

.time {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
}

.ideas {
  font-size: 24px;
  font-weight: var(--font-w-medium);
  color: var(--darkblack);
}

.circle {
  display: flex;
  gap: 8px;
}

.scroll {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  padding-top: 24px;
  background-color: var(--darkblack);
  border: 2px solid var(--darkblack);
}

.scroll1 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  padding-top: 24px;
  color: var(--gainsboro);
  border: 2px solid var(--dimgray500);
}

.arw {
  display: flex;
  height: 40px;
  width: 40px;
}

.bottom {
  display: flex;
  margin: 24px;
  /* padding-top: 24px; */
  justify-content: space-between;
}
/* Blog section ends */

/* Contact section starts */
.contact {
  padding: 40px 16px;
  position: relative;
}

.commnication img {
  width: 100%;
  /* height: 100vh; */
  border-radius: 36px;
}

.help {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17%;
  /* align-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.help-head {
  /* width: 44%; */
  width: 100%;
}

.help-head h2 {
  font-size: 64px;
  font-weight: var(--font-w-medium);
  color: var(--white);
  padding-bottom: 24px;
}

.help-head p {
  font-size: 20px;
  font-weight: var(--font-w-reg);
  color: var(--white);
}

.contact form {
  background-color: var(--white);
  padding: 24px;
  height: auto;
  width: 100%;
  border-radius: 24px;
}

form label,
input,
p {
  display: block;
  /* width: 100%; */
  padding: 16px 0 16px;
}

form input {
  border: none;
}

form p {
  padding-top: 10px;
  background-color: var(--darkblack);
  font-size: 16px;
  font-weight: var(--font-w-medium);
  color: var(--white);
  text-align: center;
}

textarea {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: var(--font-w-reg);
  color: var(--dimgray500);
  padding: 12px 14px;
}

/* contact section ends  */

/* footer section starts  */
.contact-location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.footer {
  background-color: var(--darkblack);
  padding: 80px 56px 40px;
}

.footer h6 {
  font-size: 32px;
  font-weight: var(--font-w-reg);
  padding-bottom: 32px;
  color: var(--white);
}

.agency-con {
  display: flex;
  gap: 24px;
}

.agency-con p {
  color: var(--dimgray500);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  padding-bottom: 12px;
}

.agency-con span {
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-w-reg);
}

.footer-nav p,
.footer-social p {
  color: var(--dimgray500);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  padding-bottom: 16px;
}

.footer-right {
  display: flex;
  gap: 24px;
  width: 28%;
}

.left-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 24px;
}

.nav-bar a {
  padding-bottom: 16px;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  text-decoration: none;
}

.footer-social ul {
  list-style-type: none;
  color: var(--white);
  font-weight: var(--font-w-reg);
  font-size: 16px;
  /* padding-bottom: 16px; */
}

.footer-social li {
  padding-bottom: 16px;
}

hr {
  color: var(--dimgray500);
  padding: 0 22%;
  /* width: 88%; */
}

.foot {
  background-color: var(--darkblack);
  display: flex;
  justify-content: space-between;
  padding: 16px 56px 40px;
}

.foot p {
  font-size: 14px;
  font-weight: var(--font-w-medium);
  color: var(--dimgray500);
  width: 25%;
}

.foot a {
  text-decoration: none;
  color: var(--white);
}
/* footer section ends  */

/* media queries for tablet starts*/
@media only screen and (max-width: 768px) {
  .footer {
    padding: 80px 39px 40px;
  }

  .contact-location {
    gap: 18.36%;
  }

  .agency-con {
    display: inline;
  }

  .upper-contact {
    display: flex;
    gap: 24px;
    width: 100%;
    padding-bottom: 24px;
  }

  .phn {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }

  .foot {
    margin: 40px 17px 0px;
  }

  .footer-right {
    width: 31.8%;
  }

  .footer-nav {
    width: 71.16%;
  }

  .left-nav {
    gap: 24px;
  }
}
/* media queries for tablet ends*/

/* media queries for mobile ends*/
@media only screen and (max-width: 376.99px) {
  /* header starts  */
  .header {
    width: 100%;
    padding: 19px 20px;
    align-items: center;
  }

  .logo,
  .ham {
    display: flex;
    justify-content: space-between;
  }

  nav,
  .contact-btn {
    display: none;
  }

  .ham a {
    font-size: 32px;
    padding: 9px 5px;
  }
  /* header ends  */

  /* for footer  */
  .contact-location {
    display: block;
    padding-bottom: 40px;
  }

  .footer-left {
    width: 100%;
    padding-bottom: 24px;
  }

  .footer-right {
    display: block;
    width: 100%;
  }

  .footer-social {
    padding-top: 24px;
  }

  .footer-social ul {
    /* display: inline; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  .foot {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 16px 0;
    width: 100%;
    margin: 16px 17px 0px;
  }

  .foot img,
  a {
    justify-content: center;
  }

  .foot p {
    padding: 24px 0;
    display: block;
    justify-content: center;
    width: 100%;
  }
}
